.header {
  max-width: 880px;
  margin: 45px auto 0;
  border-bottom: solid #545454 1px;
}

@media screen and (max-width: 720px) {
  .header {
    margin: 10px 19px 0 19px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 320px;
    margin: 10px 19px 0 19px;
  }
}
