.pop-up,
.card-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}
.pop-up.active,
.card-popup.active {
  visibility: visible;
  opacity: 1;
}
.pop-up__content,
.card-popup__content {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}
.pop-up__form,
.card-popup__form {
  display: flex;
  flex-direction: column;
}
.pop-up__header,
.card-popup__header {
  width: 330px;
  margin: 34px 64px 0 36px;
  color: black;
  font-family: "Inter-black";
  font-size: 24px;
}
.pop-up__input-name,
.card-popup__place-title,
.pop-up__input-about,
.card-popup__img-Url {
  max-width: 358px;
  max-height: 28px;
  font-size: 14px;
  text-align: left;
  border: none;
  border-bottom: solid #545454 1px;
  margin: 54px 36px 30px 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pop-up__input-about,
.card-popup__img-Url {
  margin: 0 36px 48px 36px;
}
.popup__input_type_error {
  color: red;
  border-bottom: solid red;
  max-width: 358px;
  max-height: 28px;
  font-size: 14px;
  text-align: left;
  border: none;
  margin: 54px 36px 0px 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pop-up__button-save,
.card-popup__button-save {
  background-color: black;
  width: 358px;
  height: 51px;
  margin: 0 36px 0 36px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.pop-up__button-save:hover,
.card-popup__button-save:hover {
  opacity: 60%;
  color: #ffffff;
}
.popup__button_disabled {
  background-color: white;
  width: 358px;
  height: 51px;
  margin: 0 36px 0px 36px;
  font-size: 18px;
  color: rgb(140, 140, 140);
  border-radius: 5px;
  text-align: center;
  opacity: 60%;
}

.pop-up__button-close,
.card-popup__button-close {
  background-image: url("../images/Close Icon.png");
  background-size: contain;
  background-color: transparent;
  position: absolute;
  top: -25px;
  right: -25px;
  height: 26px;
  width: 26px;
  cursor: pointer;
  color: white;
  border: 0;
}
.pop-up__button-close:hover,
.card-popup__button-close:hover {
  opacity: 60%;
  color: #ffffff;
}

.popup__error_visible {
  color: red;
  max-width: 358px;
  max-height: 28px;
  font-size: 12px;
  text-align: left;
  border: none;
  margin: 5px 36px 5px 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .pop-up__content,
  .card-popup__content {
    width: 282px;
    height: 322px;
  }
  .pop-up__button-save,
  .card-popup__button-save {
    width: 238px;
    height: 46px;
    margin: 0 auto 0 auto;
  }
  .pop-up__button-close,
  .card-popup__button-close {
    top: -33px;
    right: 0px;
  }
}
